body {
    font-size: 20px;
    font-weight: bold;
}

#colorBox {
    background-color: rgba(74, 115, 61, 0.94);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 3px solid white;
    margin: 40px 40px;
    font-size: 20px;
    font-weight: bold;
}

#toggleButton{
    background-color: #373737;
    color: #e9edf3;
    border-radius: 10px;
    width: 200px;
    height: 90px;
    margin: 40px 140px;
    font-size: 20px;
    font-weight: bold;
}
p {
    margin: 40px 90px;
}