<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lists</title>
</head>
<body>
<!-- ordered lists -->
<p><b>Ordered List</b></p>
<ol>
  <li>Java</li>
  <li>Python</li>
  <li>SQL</li>
  <li>Testing</li>
  <li>Apti</li>
</ol>

<!-- unordered List -->
<p><b>Unordered List</b></p>
<ul>
  <li>Java</li>
  <li>Python</li>
  <li>SQL</li>
  <li>Testing</li>
  <li>Apti</li>
</ul>

<!-- Descriptional List -->
<p><b> Description List </b></p>
<dl>
  <dt>Tea</dt>
  <dd>Tea is Hot</dd>
</dl>

<!-- Nested List -->
<p><b> Nested List </b></p>
<ol>
  <li>
    Programming Language
    <ol>
      <li>Java</li>
      <li>Python</li>
    </ol>
  </li>

  <li>
    Scripting Languages
    <ol>
      <li>JavaScript</li>
      <li>Python</li>
    </ol>
  </li>

  <li>
    DataBase Languages
    <ol>
      <li>SQL</li>
      <li>MongoDB</li>
    </ol>
  </li>
</ol>

</body>
</html>