<!DOCTYPE html>
<html lang="en">
<!-- Hover State (selector:hover)-->
<!-- <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div p:hover {
            border: 1px solid black;
            height: 50px;
            width: 100vw;
            background-color: yellow;
        }
    </style>
</head>
<body>
    <p>Hover state</p>
    <div>
        <p>Hover in me to give Border.....</p>
    </div>
</body>
</html> -->
<!-- focus state(focus:) -->
<head>
    <style>
        input[type="email"]:focus {
            background-color: rgba(71, 8, 27, 0.76);
        }
    </style>
</head>
<body>
<input type="email" placeholder="Enter your email address">
<br>
<br>
<input type="text" placeholder="Enter your name">
</body>

