<!DOCTYPE html>
<html lang="en">
<head>
  <title>Styling using CSS</title>
  <style>
    body {
      color:blue;
      font-weight: bold;
    }
    h3 {
      color: white;
      background-color: black;
      width:200px;
    }
    p {
      color : red;
    }
  </style>
</head>
<body>
<h3>Hello, My Name is arun</h3>
<!-- InLine CSS -->
<p style="color:red;"> Hello from HTML(Using In line CSS)</p>
<!-- Internal CSS -->
<p>Hello from HTML(Using Internal CSS)</p>
<p><-- InLine CSS --></p>
<pre>Hello from HTML(Using External css)</pre>
</body>

</html>